* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 1rem;
    position: fixed;
    background: #fff;
    box-shadow: 0 0 10px #089da1;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar-logo {
    padding-left: 2px;
    font-size: 1.8rem;
    font-weight: 700;
    color: #000;
    display: flex;
    align-items: center;
}

.navbar-logo span {
    color: deeppink;
    margin-left: 5px;
}

.navbar .navbar-nav a {
    font-family: sans-serif;
    font-weight: 450;
    margin: 0 1rem;
    font-size: 1.5rem;
    color: #000;
    display: inline-block;
}

.navbar .navbar-nav a:hover {
    color: #089da1;
}

.navbar .navbar-extra a {
    color: #000;
    margin: 0 0.5rem;
    padding-right: 10px;
}

.navbar .navbar-extra a:hover {
    color: #089da1;
}

/* Setelah Navbar */

/*Banner*/

.banner{
    margin-top: 70px;
    width: 100%;
    height: 50vh;
    background-image: url(../src/featured/image.jpg);
    background-size: cover;
    background-position: center;
}

.banner .b-title h1{
    padding-top: 90px;
    padding-left: 588px;
    color: white;
    font-size: 50px;
    
}

.banner .banner_btn {
    padding: 10px 70px;
    margin: 0 17px;
    font-size: 30px;
    background: #ce5959;
    text-decoration: none;
    color: #fff;
    position: relative;
    top: 10%;
    left: 33%;
    border-radius: 20px;
}

.f-title {
    margin-top: 68px; /* Sesuaikan margin-top sesuai kebutuhan */
    text-align: center;
}

.f-title h1 {
    font-size: 32px; /* Sesuaikan ukuran font sesuai kebutuhan */
    font-weight: 700;
}

.featured-books {
    width: 100%;
    height: 500px; /* Sesuaikan tinggi sesuai kebutuhan */
    padding: 20px 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 80px;
}

.featured-books .featured-book-box {
    display: inline-block;
    width: 200px; /* Sesuaikan lebar box dengan ukuran buku */
    height: 350px; /* Sesuaikan tinggi box dengan ukuran buku */
    text-align: center;
    padding: 10px;
    margin: 0 10px; /* Sesuaikan margin sesuai kebutuhan */
    margin-right: 60px;
    vertical-align: top;
}

.featured-books .featured-book-box:last-child {
    margin-left: 2px; /* Hapus margin-right pada elemen terakhir */
}

.featured-books .featured-book-box .featured-book-card {
    width: 250px;
    height: 430px;
    text-align: center;
    border: 1px solid #919191;
    border-radius: 30px;
    padding: 17px;
    margin: 10px;
}

.featured-books .featured-book-box .featured-book-card:hover {
    transform: translateY(-15px);
    box-shadow: 0 0 5px #089da1;
}

.featured-books .featured-book-box .featured-book-card .featured-book-img img {
    width: 150px;
}

.featured-books .featured-book-box .featured-book-card .featured-book-tag .h2 {
    margin: 12px;
}

.featured-books .featured-book-box .featured-book-card .featured-book-tag .writer {
    color: #706969;
}

.featured-books .featured-book-box .featured-book-card .featured-book-tag .categories {
    color: #0eaaaf;
    margin-top: 8px;
    margin-bottom: 29px;
}

.featured-books .featured-book-box .featured-book-card .featured-book-tag .f-btn {
    padding: 8px 5px;
    border: 2px solid rgb(216, 17, 123);
    border-radius: 14px;
    text-decoration: none;
    color: #000;
}

.featured-books .featured-book-box .featured-book-card .featured-book-tag .f-btn:hover {
    border-color: #089da1;
}

/* FOOTER */

.footer {
    background-color: #24262b;
    padding: 14px 0;
}

.footer p {
    color: white;
    text-align: center;
}