* {
    padding: 0px;
    margin: 0px;
    font-family: "Poppinss", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.container {
    display: flex;
}

.card {
    width: 330px;
    height: 300px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}

img {
    height: 300px;
    width: 330px;
    border-radius: 3px;
    filter: brightness(80%);
}

.intro {
    height: 60px;
    width: 330px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 130px;
    background: rgba(2, 0, 0, 0.747);
    border-radius: 20px;
    color: white;
    transition: .5s;
}

h1 {
    margin: 9px;
    padding-left: 55px;
    font-size: 20px;
}

p {
    font-size: 14px;
    margin: 10px;
    visibility: hidden;
    opacity: 0;
}

span {
    font-weight: bold;
}

.card:hover {
    cursor: pointer;
    box-shadow: 5px 5px 20px #089da1;
}

.card:hover .intro{
    height: 140px;
    bottom: 200px;
    background: black;
}

.card:hover p {
    opacity: 1;
    visibility: visible;
}

.card:hover img {
    transform: scale(1.1) rotate(-1deg);
}