* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 1rem;
    position: fixed;
    background: #fff;
    box-shadow: 0 0 10px #089da1;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar-logo {
    padding-left: 32px;
    font-size: 1.7rem;
    font-weight: 700;
    color: #000;
}

.navbar-logo span {
    color: deeppink;
}

.navbar .navbar-nav a {
    font-family: sans-serif;
    font-weight: 450;
    margin: 0 1rem;
    font-size: 1.3rem;
    color: #000;
    display: inline-block;
}

.navbar .navbar-nav a:hover {
    color: #089da1;
}

.navbar .navbar-extra a {
    color: #000;
    margin: 0 0.5rem;
    padding-right: 10px;
}

.navbar .navbar-extra a:hover {
    color: #089da1;
}